<!doctype html>
<html>


      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">      <script type='text/javascript' src='https://cdn.scaledrone.com/scaledrone.min.js'></script>
        <script type='text/javascript' src='https://cdn.scaledrone.com/scaledrone.min.js'></script>

        <link rel="stylesheet" href="../style.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>TradeWorld</title>
        <!-- Bootstrap -->
        <link href="/../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="/../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- NProgress -->
        <link href="/../vendors/nprogress/nprogress.css" rel="stylesheet">
        <!-- Animate.css -->
        <link href="/../vendors/animate.css/animate.min.css" rel="stylesheet">

        <!-- Custom Theme Style -->

        <link href="/../build/css/custom.min.css" rel="stylesheet">
      <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="../img/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
      <script src="https://kit.fontawesome.com/077191d827.js" crossorigin="anonymous"></script>
  </head>
  <body>

    <!-- <nav class="sidebar">
  <div id="leftside-navigation" class="nano">
    <ul class="nano-content">
      <li class="marginTwo">
        <a href="/"><i class="fa fa-dashboard" class="marginTwo"></i><span class="marginTwo">Dashboard</span></a>
      </li>
      <li class="marginTwo" class="sub-menu">
        <a href="/logout"><i class="fa fa-cogs"></i><span class="marginTwo">Logout</span><i class="arrow fa fa-angle-right pull-right"></i></a>

      </li>
      <li class="marginTwo" class="sub-menu">
        <a href="/stats"><i class="fa fa-table"></i><span class="marginTwo">Stats</span></a>

      </li>

      <li class="marginTwo" class="sub-menu" >
        <a href="/profile"><i class="fa fa-bar-chart-o"></i><span class="marginTwo">Chart Profile </span></a>

      </li>

      <li class="marginTwo" class="sub-menu" class="marginTwo">
        <a href="/learn"><i class="fa fa-text-height"></i><span class="marginTwo">Trade University</span></a>
      </li>
      <li class="marginTwo" class="sub-menu" class="marginTwo">
        <a href="/feed"> <i class="fa fa-file"></i> <span class="marginTwo">Feed </span></a>

        </ul>
      </li>

  </div>
</nav> -->
