<%- include('header'); -%>


  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <!-- page content -->

            <div class="text-center text-center">
              <h1 class="error-number">Welcome To TradeWorld</h1>
              <h2>A place for all traders</h2>

              <div class="mid_center">
                <h3> Log-In or Sign Up</h3>
            <a href="/login">    <button type="button" class="btn btn-secondary btn-lg" >Log-In</button> </a>
                <a href="/signup">    <button type="button" class="btn btn-secondary btn-lg">Sign-Up</button> </a>

              </div>
            </div>
          <!-- </div> h -->
        </div>
        <!-- /page content -->
      </div>

  </body>



    <!-- jQuery -->

<%- include('footer') -%>
