

<%- include('header'); -%>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="/" class="site_title"><i class="fa fa-area-chart"></i> <span>TradeWorld</span></a>
          </div>

          <div class="clearfix"></div>

          <!-- menu profile quick info -->
          <div class="profile clearfix">
            <div class="profile_pic">
              <img src="img/favicon-96x96.png" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
              <span>Welcome,</span>
              <h2><%= user.local.email %></h2>
            </div>
          </div>
          <!-- /menu profile quick info -->

          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <h3>General</h3>
              <ul class="nav side-menu">
                <li><a href="/profile"><i class="fa fa-home"></i> Home </a>

                </li>
                <li> <a href="/feed"><i class="fa fa-users"></i> Community </a>

                </li>
                <li><a href="/learn"><i class="fa fa-mortar-board"></i> Learn </a>

                </li>

                <!-- <li><a a href="/stats"><i class="fa fa-bar-chart-o"></i> Trade Stats </a>

                </li> -->

              </ul>
            </div>


          </div>
          <!-- /sidebar menu -->

          <!-- /menu footer buttons -->

          <!-- /menu footer buttons -->
        </div>
      </div>

      <!-- top navigation -->

      <!-- /top navigation -->

      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
                    <div class="page-title">
                      <div class="title_left">
                        <h3>Welcome To TradeUniversity</h3>
                      </div>


                    </div>

                    <div class="clearfix"></div>

                    <div class="row">
                      <div class="col-md-12 col-sm-12  ">
                        <div class="x_panel">
                          <div class="x_title">
                            <h2>How To Make Money Trading?</h2>

                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">
                            <p> In the forex market, you buy or sell currencies.</p>

                            <div class="part1">
                              <img src="./img/pic1.jpg" class="star" alt="an image of woman thinking about money">
                              <p> Placing a trade in the foreign exchange market is simple. The mechanics of a trade are very similar to those found in other financial markets (like the stock market), so if you have any experience in trading, you should be able to pick it up pretty quickly.</p>
                              <p>and if you don’t, you’ll still be able to pick it up….as long as you finish TradeUNIVERSITY. </p>
                              <p>The objective of forex trading is to exchange one currency for another in the expectation that the price will change.</p>
                              <p>More specifically, that the currency you bought will increase in value compared to the one you sold.</p>
                            </div>
                            <!-- <img src="./img/pic2.jpg" id="pic2" alt="a chart to explain profit"> -->
.
                          </div>
                        </div>
                        <div class="x_panel">
                          <div class="x_title">
                            <h2>How to Read a Price Quote</h2>

                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content" style="text-align:justify">
                            <p> Currencies are always quoted in pairs, such as GBP/USD or USD/JPY. The reason they are quoted in pairs is that, in every foreign exchange transaction, you are simultaneously buying one currency and selling another.</p>
                            <p> Here is an example of a foreign exchange rate for the British pound versus the U.S. dollar: </p>
                            <img src="./img/pic3.jpg" class="moon" alt="a chart to explain profit">
                        <p> The first listed currency to the left of the slash (“/”) is known as the base currency (in this example, the British pound), while the second one on the right is called the counter or quote currency (in this example, the U.S. dollar). </p>
                        <p> When buying, the exchange rate tells you how much you have to pay in units of the quote currency to buy ONE unit of the base currency.</p>
                        <p> In the example above, you have to pay 1.51258 U.S. dollars to buy 1 British pound. </p>
                        <p> When selling, the exchange rate tells you how many units of the quote currency you get for selling ONE unit of the base currency.</p>
                        <p> In the example above, you will receive 1.51258 U.S. dollars when you sell 1 British pound.</p
                          <p>The base currency is the “basis” for the buy or the sell.</p>
                          <p> If you buy EUR/USD this simply means that you are buying the base currency and simultaneously selling the quote currency.</p>
                        <p>In caveman talk, “buy EUR, sell USD.”</p>
                        <ul>
                          <li>You would buy the pair if you believe the base currency will appreciate (gain value) relative to the quote currency.</li>
                          <li>You would sell the pair if you think the base currency will depreciate (lose value) relative to the quote currency.</li>
                        </ul>
                          </div>
                        </div>
                        <div class="x_panel">
                          <div class="x_title">
                            <h2>“Long” and “Short”</h2>

                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content" >
                             <img src="./img/pic4.jpg" class="star" alt="a chart to explain profit">
                                <p>First, you should determine whether you want to buy or sell.</p>
                                <p>If you want to buy (which actually means buy the base currency and sell the quote currency), you want the base currency to rise in value and then you would sell it back at a higher price.</p>
                                <p>In trader talk, this is called “going long” or taking a “long position.” Just remember: long = buy.</p>
                                <p>If you want to sell (which actually means sell the base currency and buy the quote currency), you want the base currency to fall in value and then you would buy it back at a lower price. </p>
                                <p>This is called “going short” or taking a “short position”.</p>
                                <p>Just remember: short = sell.</p>

                          </div>
                        </div>
                        <div class="x_panel">
                          <div class="x_title">
                            <h2>Knowledge Check</h2>

                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content" >
                            <div class="container">
                              <h2 class="question"></h2>
                              <h2> <ul class="answers"></ul> </h2>
                              <button class="btn btn-success btn-lg">Submit Answer</button>
                            </div>
                          </div>
                        </div>
                        <div class="x_panel">
                          <div class="x_title">
                            <h2>Results</h2>

                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content" >
                            <div class="container">
                              <h6 style="font-size:20px"> </h6>

                              <h6> </h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
      </div>
    </div>
<%- include('footer'); -%>
